<!-- <div class="searchBtn d-flex justify-content-center">
        <input type="text" placeholder="search" [(ngModel)]="searchTerm" (change)="search()">
        <button class="btn btn-primary" (click)="search()">search</button> 
</div> -->

<div class="container">
  <div class="menu-container">
    <button class="menu-btn">Menu</button>
  </div>
  <form>
    <input type="text" placeholder="Search...">
    <select>
      <option value="">All Categories</option>
      <option value="snacks">Snacks</option>
      <option value="main_course">Main Course</option>
      <option value="rice">Rice</option>
      <option value="chinese">Chinese</option>
      <option value="drinks">Drinks</option>
      <option value="salads">Salads</option>
    </select>
  </form>
</div>