/* You can add global styles to this file, and also import other style files */
/* *{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
} */

body {
    /* border: 5px solid black; */
    padding: 0px;
    margin: 0;
    background-color: #0c0b09;
    color: white;
}


.owl-nav {
    position: absolute !important;
    top: 20% !important;
    transform: translateY(-50%);
    width: 100%;
  }
  
  .owl-prev,
  .owl-next{
    border: none;
    background: transparent;
    font-size:1.3rem !important ;
    background-color: rgb(205, 164, 94,0.5)!important;
    color: rgb(0, 0, 0) !important;
    border-radius: 50% !important;
    position: absolute;
    top: 20px !important;
    transform: translateY(-50%);
    transition: color 0.3s;
    width: 35px;

  }

  .owl-next{
    right: -18px;
  }

  .owl-prev{
    left: -18px;
  }
  
  .owl-prev:hover,
  .owl-next:hover {
    background-color: rgb(205, 164, 94) !important;

  }